
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{margin: 0;}

/* tamaños generales */
h1 { font-size: clamp(1.8rem, 5vw, 4rem); }
h2 { font-size: clamp(1.5rem, 4.5vw, 3rem); }
h3 { font-size: clamp(1.25rem, 4vw, 2.5rem); }
h4 { font-size: clamp(1rem, 3.5vw, 2rem); }
p, li { font-size: clamp(0.9rem, 2.5vw, 1.5rem); }

/* fuentes */
#lema, h4 {font-family: "Open Sans";}
h2, h3{font-family: "Chau Philomene One";font-style:normal;}
#text-logo, #todo {font-family: "Anton";font-style: normal;margin: 0;}

/* botones */
button{
    font-family: "Open Sans";
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: bold;
    color: white;
    padding: 4px 7px;
    background: 
    linear-gradient(to right, rgb(255, 0, 191),
     rgb(0, 0, 0), rgb(0, 15, 128));
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

button:hover {
    background:
    linear-gradient(to right, rgb(37, 0, 28),
    rgb(145, 143, 143), rgb(0, 15, 128));
}

#nube button{
    background:none;
    border: #6d6767;
}

#nube button:hover{
    background: #3f3c3c;
}

/* ancho maximo */
.container{
    max-width: 1200px;
    margin: auto;
}

/* color de resalto palabras */
.color-acento{
    color: #9e2986;
    -webkit-text-stroke: 0.2px #807f7f;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* fondo de barra de informacion */
header, footer{
    background:
    linear-gradient(to right, 
    #ebe6e6, #f6f6f6, #929091);
}   

/* ajustes texto header */
header .logo{ 
    margin: 0;
    padding: 0px 20px;
    padding-bottom: 0px;
    font-weight: bold;
    color: #6d6767;
    font-size: clamp(0.50rem, 1vw, 0.5rem);
    text-align: center;
    align-items: center;
}
#lema{
    font-size: clamp(0.75rem, 2vw, 1rem);
    text-align: center;
    align-items: center;
}
header .container{
    display: flex;
    flex-direction: column;
}
header nav{
    text-align: center;
}
header a{
    padding: 0px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #6d6767;
    font-size: clamp(0.50rem, 1vw, 0.5rem);
    align-items: center;
}
header a:hover {
    color: black;
}

/* ajustes #hero */
#hero .img-container{
    background-image: url("img/logonofount.png");
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100dvh;
    background-image:
    linear-gradient(0deg, rgba(0,0,0,0.5),
     rgba(0,0,0,0.5)), url(img/alfombra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 1.25em;
}
#hero h1{
    font-size: clamp(2rem, 6vw, 5em);
    color: white;
}

/* ajustes seccion #quienes-somos */
#quienes-somos .container{
    text-align: center;
    padding: 60px 12px;
    padding-inline: 20px;
}

/* ajustes seccion #que-es */
#que-es{
    background-image:
    linear-gradient(0deg, rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)), url(img/mujer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    font-size: small;
    color: white;
}
#que-es .container{
    padding-inline:20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#que-es .parrafo .container{
    padding-bottom: 0;
    padding-top: 0;
}
#que-es .lista h3{
    margin-left:25px;
}
#que-es ul{
    margin-top: 5px; 
}
#que-es li{
    padding-inline: 0px;
    margin: 0px 0px;
    text-align: left;
    list-style-type: circle;
}
#que-es p, h3{
    padding-inline: 0px;
    margin-bottom: 0;
    text-align: left;
}
#que-es .abajo p{
    text-align: center;
}

/* ajustes seccion #programas */
#programas{
    color: white;
    background-image:
    linear-gradient(0deg, rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)), url(img/plancha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
#nube .container {
    padding: 30px 40px;
}
#programas h2{
    display: flex;
    margin-top: 0px;

    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px ;
}
h4{
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    font-size: clamp(1rem, 2.5vw, 2rem);
}
#nube p{
    display: none;
}
.sub{ 
    font-family: "Open-Sans";
    font-size: 0.75rem;
}

/* ajustes de cartas seccion #programas */
#nube .cartas {
    background-size: cover;
    background-position: center center;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 18px;
}
.cartas:first-child {
    background-image:
    linear-gradient(0deg, rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)), url(img/perder.jpg);
    
}
.cartas:nth-child(2) {
    background-image:
    linear-gradient(0deg, rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)), url(img/ganar.jpg);
}
.cartas:nth-child(3) {
    background-image:
    linear-gradient(0deg, rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)), url(img/mantener.jpg);
}
.orden2 .cartas:nth-child(1) {
    background-image:
    linear-gradient(0deg, rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)), url(img/anciana.jpg);
}
.orden2 .cartas:nth-child(2) {
    background-image:
    linear-gradient(0deg, rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)), url(img/profesor.jpg);
}
.orden2 .cartas:nth-child(3) {
    background-image:
    linear-gradient(0deg, rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)), url(img/entrenasolo.jpg);
    padding-bottom: 20px;
}
.cartas:first-child .color-acento{
    color: aquamarine;
}
.cartas:nth-child(2) .color-acento{
    color: red;
}
.cartas:nth-child(3) .color-acento{
    color: rgba(245, 30, 209, 0.959);
}
.orden2 .cartas:nth-child(1) .color-acento{
    color: rgb(9, 148, 180);
}
.orden2 .cartas:nth-child(2) .color-acento{
    color: rgb(255, 174, 0);
}
.orden2 .cartas:nth-child(3) .color-acento{
    color: #9e2986;
}

/* ajustes seccion #final */
#final{
    background-image:linear-gradient(0deg,
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)),url("img/casa.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}
#final .container{
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid black;
    padding-inline: 80px;
    padding-block: 10px;
    border-radius: 17px;
}
#final h2{ 
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    padding: 0px;
    color: white;
}
#final button{
    font-size: clamp(1rem, 3vh, 2rem);
}

/* ajustes footer */
footer .container{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
footer{
    margin: auto;
}
footer .logo{
    margin: 0;
    padding-bottom: 0px;
    font-weight: bold;
    color: #6d6767;
    text-align: center;
    align-items: center;
}
.container #lema-footer{
    font-size: 12px;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}
footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}
footer a, footer p{
    padding-inline: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #6d6767;
    font-size: clamp(0.50rem, 1vw, 0.5rem);
    align-items: center;
}
footer a:hover {
    color: black;
}
footer #copy{
    font-weight: normal ;
}


/* version desktop */
@media(min-width: 1200px )
{
    /*header desktop */
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0px;
        padding-right: 20px;
        align-content: center;
    }
    header a{
        font-size: 1.2vh;
    }

    /* #hero desktop */
    #hero button{
        font-size: clamp(1.5rem, 5vw, 3rem);
        border-radius: 30px;
    }
    #hero h1{
        font-size: 5em;
    } 

    /* #quienes somos desktop */
    #quienes-somos .container{
        text-align: left;
        padding: 80px 0px;
        display: flex;
        justify-content: space-evenly;
    }
    #quienes-somos .texto{
        padding-bottom: 25px;
        width: 50%;
        max-width: 600px;
        text-align: initial;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    #quienes-somos h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #quienes-somos .img-container{
        background-image: url("img/profesor.jpg");
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 300px;
    }

    /* #que-es desktop */
    #que-es .parrafo .container{
        margin: 0;
        background-position: center center;
        height: 300px;
    }
    #que-es .lista h3{
        margin-left: 0;
        border: 0;
    }
    #que-es .container{
        padding:30px;
        padding-top: 20px;
    }

    #que-es .parrafo{
        text-align: left;
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
    }
    #que-es ul{
        text-align: left;
        padding-left: 0px ;
    }
    #que-es ul li{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* cartas desktop */
    #nube .orden, .orden2{
        display: flex;
        justify-content: center; 
    }
    #nube p{
        display: block;
        font-size: 2.5vh;
    }
    #nube h3{
        font-size: 4.5vh;
        align-items: center;
        text-align: center;
    }
    #nube .cartas{
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) ;
    }

    /* footer desktop */
    footer .container{
        flex-direction: row;
        justify-content: space-between;
    }
    footer nav{
        flex-direction: row;
        padding-bottom: 0px;
        padding-right: 20px;
        align-content: center;
    }
    #lema-final{
        padding-bottom: 0;
    }
    footer .container{
        padding-inline: 0px;
        height: 50px;
    }
    footer .container-copy{
        display: inline-block;

    }
    footer .container .img-container{
    background-image: url("img/logonofount.png");
    background-size: cover;
    background-position: center center;
    align-items: center;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    }
    #copy{
        vertical-align: middle;
        float: right;
        padding-left: 30px;
    }

}

/* versión tablet / pantallas medianas */
@media (min-width: 800px) and (max-width: 1199px)

{
    /* header tablet */
    header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header nav {
        display: flex;
        gap: 10px;
    }
    header a {
        font-size: 1rem;
    }

    /* hero tablet */
    #hero h1 {
        font-size: clamp(2.5rem, 6vw, 4rem);
    }
    #hero button {
        font-size: clamp(1.2rem, 4vw, 2rem);
    }

    /* quienes somos tablet */
    #quienes-somos .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 60px 20px;
    }
    #quienes-somos .texto {
        width: 60%;
        max-width: 500px;
        text-align: left;
    }
    #quienes-somos .img-container {
        width: 250px;
        height: 250px;
    }

    /* que es tablet */
    #que-es .parrafo {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    #que-es ul {
        padding-left: 20px;
    }

    /* programas tablet */
    #nube .orden, .orden2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    #nube .cartas {
        flex: 1 1 45%;
        margin: 10px;
    }

    /* final tablet */
    #final .container {
        padding-inline: 60px;
        padding-block: 20px;
    }

    /* footer tablet */
    footer .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;
    }
    footer a, footer p {
        font-size: 0.7rem;
    }
}
